Иззатов Эльшан Али-заде

# Лабораторная работа №6

## Библиотека pandas

**1**. Таблица moscow-buildings.csv содержит информацию о годах постройки жилых домов в Москве.

1) Загрузите базу данных moscow-buildings.csv и сохраните ее как df_build. Удалите из базы данных строки, в которых значения года постройки не указаны («н.д.»), а после превратите столбец house_year в числовой.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [ ]:
df_build = pd.read_csv('/content/drive/MyDrive/Программирование на языке Python/Lab_Python_6_PIM/moscow-buildings.csv')
df_build.head()

,area_id,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year
0,2281084,г Москва п Загорье д.10,Москва,п Загорье д.10,п,Загорье,д.10,7569627,муниципальный округ Бирюлево Восточное,1968
1,2281084,г Москва п Загорье д.3,Москва,п Загорье д.3,п,Загорье,д.3,7569823,муниципальный округ Бирюлево Восточное,1964
2,2281084,г Москва п Загорье д.4,Москва,п Загорье д.4,п,Загорье,д.4,7569840,муниципальный округ Бирюлево Восточное,1972
3,2281084,г Москва п Загорье д.5,Москва,п Загорье д.5,п,Загорье,д.5,7569862,муниципальный округ Бирюлево Восточное,1963
4,2281084,г Москва п Загорье д.8,Москва,п Загорье д.8,п,Загорье,д.8,7569888,муниципальный округ Бирюлево Восточное,1963

In [ ]:
df_build = df_build[df_build["house_year"] != "н.д."]
df_build

,area_id,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year
0,2281084,г Москва п Загорье д.10,Москва,п Загорье д.10,п,Загорье,д.10,7569627,муниципальный округ Бирюлево Восточное,1968
1,2281084,г Москва п Загорье д.3,Москва,п Загорье д.3,п,Загорье,д.3,7569823,муниципальный округ Бирюлево Восточное,1964
2,2281084,г Москва п Загорье д.4,Москва,п Загорье д.4,п,Загорье,д.4,7569840,муниципальный округ Бирюлево Восточное,1972
3,2281084,г Москва п Загорье д.5,Москва,п Загорье д.5,п,Загорье,д.5,7569862,муниципальный округ Бирюлево Восточное,1963
4,2281084,г Москва п Загорье д.8,Москва,п Загорье д.8,п,Загорье,д.8,7569888,муниципальный округ Бирюлево Восточное,1963
...,...,...,...,...,...,...,...,...,...,...
29349,2281107,г Москва ул Короленко д.7 кор.2,Москва,ул Короленко д.7 кор.2,ул,Короленко,д.7 кор.2,7630827,муниципальный округ Сокольники,1926
29361,2281107,г Москва ул Маленковская д.3,Москва,ул Маленковская д.3,ул,Маленковская,д.3,8280705,муниципальный округ Сокольники,1997
29398,2281107,г Москва ул Русаковская д.31,Москва,ул Русаковская д.31,ул,Русаковская,д.31,7550765,муниципальный округ Сокольники,2009
29427,2281107,г Москва ул Сокольническая Слободка д.3,Москва,ул Сокольническая Слободка д.3,ул,Сокольническая Слободка,д.3,8285714,муниципальный округ Сокольники,2005
29455,2281107,г Москва ул Шумкина д.11 кор.а,Москва,ул Шумкина д.11 кор.а,ул,Шумкина,д.11 кор.а,8476228,муниципальный округ Сокольники,2007

In [ ]:
newh = [int(i) for i in df_build["house_year"]]
df_build["house_year"]= newh
df_build.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26312 entries, 0 to 29455
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   area_id        26312 non-null  int64
 1   full_address   26312 non-null  object
 2   city           26312 non-null  object
 3   address        26312 non-null  object
 4   street_prefix  25828 non-null  object
 5   street_name    25827 non-null  object
 6   building       25828 non-null  object
 7   house_id       26312 non-null  int64
 8   area_name      26312 non-null  object
 9   house_year     26312 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.2+ MB

2) Посмотрите на минимальное и максимальное значения года постройки. Разумны ли они? Если нет, уберите из базы данных «странные» значения года постройки (оставьте данные о постройках с года основания Москвы до текущего года включительно). Подсчитайте количество удаленных записей.

In [ ]:
df_build["house_year"].value_counts()

house_year
1960    1044
1962    1012
1961     987
1963     972
1965     888
        ...
1884       1
1696       1
1815       1
1094       1
3610       1
Name: count, Length: 189, dtype: int64

In [ ]:
df_build = df_build[(df_build["house_year"] >= 1147) & (df_build["house_year"] <= 2025)]
df_build["house_year"].value_counts()

house_year
1960    1044
1962    1012
1961     987
1963     972
1965     888
        ...
1659       1
1786       1
1810       1
1855       1
1698       1
Name: count, Length: 166, dtype: int64

3) Выберите из базы данных строки, соответствующие Басманному району и сохраните их в базу basm_data.

In [ ]:
basm_data = df_build[df_build["area_name"] == "муниципальный округ Басманный"]
basm_data

,area_id,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year
9303,2281050,г Москва б-р Покровский д.14/5,Москва,б-р Покровский д.14/5,б-р,Покровский,д.14/5,8104093,муниципальный округ Басманный,1927
9304,2281050,г Москва б-р Покровский д.14/6 строение 1,Москва,б-р Покровский д.14/6 строение 1,б-р,Покровский,д.14/6 строение 1,8104094,муниципальный округ Басманный,1915
9305,2281050,г Москва б-р Покровский д.16/10 строение 1,Москва,б-р Покровский д.16/10 строение 1,б-р,Покровский,д.16/10 строение 1,8104099,муниципальный округ Басманный,1860
9306,2281050,г Москва б-р Покровский д.16_18 строение 4_4А,Москва,б-р Покровский д.16_18 строение 4_4А,б-р,Покровский,д.16_18 строение 4_4А,8104106,муниципальный округ Басманный,1860
9307,2281050,г Москва б-р Покровский д.18/15 строение 2,Москва,б-р Покровский д.18/15 строение 2,б-р,Покровский,д.18/15 строение 2,8104113,муниципальный округ Басманный,1860
...,...,...,...,...,...,...,...,...,...,...
9994,2281050,г Москва ул Чаплыгина д.10/11 строение 3,Москва,ул Чаплыгина д.10/11 строение 3,ул,Чаплыгина,д.10/11 строение 3,8103910,муниципальный округ Басманный,1894
9995,2281050,г Москва ул Чаплыгина д.15 строение 5,Москва,ул Чаплыгина д.15 строение 5,ул,Чаплыгина,д.15 строение 5,8103913,муниципальный округ Басманный,1927
9996,2281050,г Москва ул Чаплыгина д.16,Москва,ул Чаплыгина д.16,ул,Чаплыгина,д.16,8090083,муниципальный округ Басманный,1955
9997,2281050,г Москва ул Чаплыгина д.1А строение 1,Москва,ул Чаплыгина д.1А строение 1,ул,Чаплыгина,д.1А строение 1,8103921,муниципальный округ Басманный,1900
9998,2281050,г Москва ул Чаплыгина д.8 строение 1,Москва,ул Чаплыгина д.8 строение 1,ул,Чаплыгина,д.8 строение 1,8103925,муниципальный округ Басманный,1898

4) Сгруппируйте данные в базе по районам и посмотрите, сколько домов в базе относятся к каждому району.

In [ ]:
data_grouped = df_build.groupby('area_name')['house_id'].count().reset_index()
data_grouped

                             area_name  house_id
0    муниципальный округ Академический       344
1     муниципальный округ Алексеевский       212
2     муниципальный округ Алтуфьевский       114
3            муниципальный округ Арбат       134
4         муниципальный округ Аэропорт       186
..                                 ...       ...
119   муниципальный округ Южное Тушино       320
120   муниципальный округ Южнопортовый       200
121       муниципальный округ Якиманка       105
122    муниципальный округ Ярославский       177
123        муниципальный округ Ясенево       152

[124 rows x 2 columns]

In [ ]:
data_grouped['house_id'].sum()

26289

In [ ]:
len(df_build['house_id'].unique())

26289

5) Найдите средний возраст дома (возраст – в годах, считаем от текущего года) по каждому району. Подсказка: сначала добавьте переменную house_age («возраст дома»).

In [ ]:
df_build["house_age"] = 2025 - df_build["house_year"]
df_build.head()

<ipython-input-19-e545ad0cf242>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_build["house_age"] = 2025 - df_build["house_year"]

,area_id,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year,house_age
0,2281084,г Москва п Загорье д.10,Москва,п Загорье д.10,п,Загорье,д.10,7569627,муниципальный округ Бирюлево Восточное,1968,57
1,2281084,г Москва п Загорье д.3,Москва,п Загорье д.3,п,Загорье,д.3,7569823,муниципальный округ Бирюлево Восточное,1964,61
2,2281084,г Москва п Загорье д.4,Москва,п Загорье д.4,п,Загорье,д.4,7569840,муниципальный округ Бирюлево Восточное,1972,53
3,2281084,г Москва п Загорье д.5,Москва,п Загорье д.5,п,Загорье,д.5,7569862,муниципальный округ Бирюлево Восточное,1963,62
4,2281084,г Москва п Загорье д.8,Москва,п Загорье д.8,п,Загорье,д.8,7569888,муниципальный округ Бирюлево Восточное,1963,62

In [ ]:
data_grouped = df_build.groupby('area_name')['house_age'].mean().astype(int).reset_index()
data_grouped

                             area_name  house_age
0    муниципальный округ Академический         59
1     муниципальный округ Алексеевский         62
2     муниципальный округ Алтуфьевский         53
3            муниципальный округ Арбат         94
4         муниципальный округ Аэропорт         62
..                                 ...        ...
119   муниципальный округ Южное Тушино         55
120   муниципальный округ Южнопортовый         62
121       муниципальный округ Якиманка         76
122    муниципальный округ Ярославский         53
123        муниципальный округ Ясенево         44

[124 rows x 2 columns]

6) Найдите самый старый дом и выведите информацию о нем.

In [ ]:
oldest_house = df_build[df_build['house_age'] == df_build['house_age'].max()]
oldest_house

,area_id,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year,house_age
22433,2281124,г Зеленоград д.811,Зеленоград,д.811,NaN,NaN,NaN,7742576,муниципальный округ Старое Крюково,1273,752

**2.** Загрузите таблицу titanic.csv и найдите ответы на следующие вопросы. Если ответ нужно приводить в процентах, то это должно быть число в интервале от 0 до 100, округленное до двух знаков, знак процента не нужен.  

1) Посчитайте долю выживших пассажиров.

In [31]:
df_titanic = pd.read_csv('/content/drive/MyDrive/Программирование на языке Python/Lab_Python_6_PIM/titanic.csv')
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
Survived = (df_titanic["Survived"]==1).sum()/(df_titanic["Survived"]).count()*100
print("Доля выживших пассажиров составила: ", round(Survived,2))

Доля выживших пассажиров составила:  38.38

2) Какое количество мужчин и женщин ехало на корабле? Определите долю выживших женщин и выживших мужчин.

In [ ]:
count_men = (df_titanic["Sex"] == "male").sum()
count_women = (df_titanic["Sex"] == "female").sum()
print("Количество мужчин на корабле всего: ", count_men)
print("Количество мужчин на корабле всего: ", count_women)
count_survived_men = ((df_titanic["Survived"]==1)&(df_titanic["Sex"] == "male")).sum()/count_men*100
count_survived_women = ((df_titanic["Survived"]==1)&(df_titanic["Sex"] == "female")).sum()/count_women*100
print("Доля выживших мужчин на корабле: ",round(count_survived_women,2))
print("Доля выживших женщин на корабле: ",round(count_survived_men,2))

Количество мужчин на корабле всего:  577
Количество мужчин на корабле всего:  314
Доля выживших мужчин на корабле:  74.2
Доля выживших женщин на корабле:  18.89

3) Какую долю пассажиры первого, второго и третьего классов составляли среди всех пассажиров? Определите долю выживших пассажиров каждого класса.

In [ ]:
a = df_titanic["Pclass"].unique()
total_people = df_titanic["Pclass"].count()
print(sorted(a))
for i in sorted(a):
    print(f"Доля пассажиров {i} класса составила: ", round((df_titanic["Pclass"] == i).sum()/total_people*100,2))

for i in sorted(a):
    print(f"Доля выживших пассажиров {i} класса составила: ", round(((df_titanic["Survived"]==1)&(df_titanic["Pclass"] == i)).sum()/(df_titanic["Pclass"] == i).sum()*100,2))

#first_class = (df_titanic["Pclass"] == 1).sum()/total_people*100
#second_class = (df_titanic["Pclass"] == 2).sum()/total_people*100
#third_class = (df_titanic["Pclass"] == 3).sum()/total_people*100

#Survived_first_class = ((df_titanic["Survived"]==1)&(df_titanic["Pclass"] == 1)).sum()/(df_titanic["Pclass"] == 1).sum()*100
#Survived_second_class = ((df_titanic["Survived"]==1)&(df_titanic["Pclass"] == 2)).sum()/(df_titanic["Pclass"] == 2).sum()*100
#Survived_third_class = ((df_titanic["Survived"]==1)&(df_titanic["Pclass"] == 3)).sum()/(df_titanic["Pclass"] == 3).sum()*100

#print("Доля пассажиров первого класса составила: ", round(first_class,2))
#print("Доля пассажиров второго класса составила: ", round(second_class,2))
#print("Доля пассажиров третьего класса составила: ", round(third_class,2))

#print("Доля пассажиров первого класса составила: ", round(Survived_first_class,2))
#print("Доля пассажиров второго класса составила: ", round(Survived_second_class,2))
#print("Доля пассажиров третьего класса составила: ", round(Survived_third_class,2))

[1, 2, 3]
Доля пассажиров 1 класса составила:  24.24
Доля пассажиров 2 класса составила:  20.65
Доля пассажиров 3 класса составила:  55.11
Доля выживших пассажиров 1 класса составила:  62.96
Доля выживших пассажиров 2 класса составила:  47.28
Доля выживших пассажиров 3 класса составила:  24.24

4) Посчитайте среднее и медиану возраста пассажиров. Посчитайте среднее и медиану возраста выживших и невыживших пассажиров.

In [ ]:
#a = df_titanic.groupby('Age').agg(['mean', 'median']).head() # среднее и медиана
#

# dfdate = df_titanic.groupby('Survived')['Age']
# dfdate.head()

mean_age = df_titanic["Age"].mean()
median_age = df_titanic["Age"].median()

mean_age_survied = df_titanic[df_titanic["Survived"] == 1]["Age"].mean().round()
median_age_survied  = df_titanic[df_titanic["Survived"] == 1]["Age"].median()

mean_age_unsurvied = df_titanic[df_titanic["Survived"] == 0]["Age"].mean().round()
median_age_unsurvied  = df_titanic[df_titanic["Survived"] == 0]["Age"].median()
print("Средний возраст пассажиров: ", round(mean_age,2))
print("Медианное значение возраста пассажиров: ", round(median_age,2))
print("Средний возраст выживших пассажиров: ", mean_age_survied)
print("Медианное значение возраста выживших пассажиров: ", median_age_survied)
print("Средний возраст невыживших пассажиров: ", mean_age_unsurvied)
print("Медианное значение возраста невыживших пассажиров: ", median_age_unsurvied)

Средний возраст пассажиров:  29.7
Медианное значение возраста пассажиров:  28.0
Средний возраст выживших пассажиров:  28.0
Медианное значение возраста выживших пассажиров:  28.0
Средний возраст невыживших пассажиров:  31.0
Медианное значение возраста невыживших пассажиров:  28.0

5) Добавьте столбцы FirstNameList с именем пассажира. Обратите внимание, что встречается разный формат хранения имен, в том числе существуют отличия для мужчин и женщин. Имя может быть составное (из нескольких имен) - рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена. Какое самое популярное женское имя на корабле? Какое самое популярное мужское имя на корабле? У замужних женщин имя берём в скобках

In [32]:
import pandas as pd
import re
df_titanic["Appeal"] = df_titanic["Name"].str.extract(r",\s*([A-Za-z.]+\s*[A-Za-z]+)\.")
df_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Appeal
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr

In [37]:
# Разделение имени
split_names = df_titanic["Name"].str.split(",", n=1, expand=True)

# Извлечение имени для "Mrs"
def extract_name(name):
    # Попытка извлечь имя в скобках
    name_in_brackets = re.search(r"\s*\((.*?)\)", name)
    if name_in_brackets:
        return name_in_brackets.group(1).strip()
    # Если в скобках нет, попытка извлечь имя после точки
    name_after_dot = re.search(r"\.\s*([A-Za-z.]+)", name)
    if name_after_dot:
        return name_after_dot.group(1).strip()
    return None

# Применение функции к строкам с "Mrs"
df_titanic.loc[df_titanic["Appeal"] == "Mrs", "FirstNameList"] = split_names.loc[df_titanic["Appeal"] == "Mrs", 1].apply(extract_name)

# Извлечение имени для других значений "Appeal"
df_titanic.loc[df_titanic["Appeal"] != "Mrs", "FirstNameList"] = split_names.loc[df_titanic["Appeal"] != "Mrs", 1].str.split(".", n=1, expand=True)[1].str.strip()

# Удаление лишних пробелов и символов
df_titanic["FirstNameList"] = df_titanic["FirstNameList"].str.replace(r'[^A-Za-z\s]', '', regex=True).str.strip()

# Удаление слов длиной 2 и менее символов
df_titanic["FirstNameList"] = df_titanic["FirstNameList"].apply(lambda x: ' '.join([word for word in x.split() if len(word) > 2]) if pd.notnull(x) else x)

df_titanic.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Appeal,FirstNameList
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,Owen Harris
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,Florence Briggs Thayer
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,Laina
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,Lily May Peel
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,William Henry
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Mr,James
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Mr,Timothy
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Master,Gosta Leonard
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Mrs,Elisabeth Vilhelmina Berg
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Mrs,Adele Achem
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Miss,Marguerite Rut
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Miss,Elizabeth
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,Mr,William Henry
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,Mr,Anders Johan
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,Miss,Hulda Amanda Adolfina
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,Mrs,Mary Kingcome
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,Master,Eugene
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,Mr,Charles Eugene
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,Mrs,Emelia Maria Vandemoortele
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,Mrs,Fatima

In [40]:
# Разделение на женские и мужские данные с использованием столбца "Sex"
female_names = df_titanic[df_titanic["Sex"] == "female"]["FirstNameList"]
male_names = df_titanic[df_titanic["Sex"] == "male"]["FirstNameList"]

# Функция для подсчета частот имен
def count_names(names):
    # Разделение столбца на отдельные имена
    all_names = names.dropna().str.split(expand=True).stack()
    # Подсчет частоты имен
    name_counts = all_names.value_counts()
    return name_counts

# Подсчет частот имен для женщин и мужчин
female_name_counts = count_names(female_names)
male_name_counts = count_names(male_names)

# Получение самого популярного женского и мужского имени
most_popular_female_name = female_name_counts.idxmax()
most_popular_male_name = male_name_counts.idxmax()

# Подсчет частот составных имен
def count_full_names(names):
    # Подсчет частот составных имен
    full_name_counts = names.dropna().value_counts()
    return full_name_counts

# Подсчет частот составных имен для женщин и мужчин
female_full_name_counts = count_full_names(female_names)
male_full_name_counts = count_full_names(male_names)

# Получение самого популярного составного имени для женщин и мужчин
most_popular_female_full_name = female_full_name_counts.idxmax()
most_popular_male_full_name = male_full_name_counts.idxmax()

# Результаты
print("Самое популярное женское имя (как отдельные имена):", most_popular_female_name)
print("Самое популярное женское составное имя:", most_popular_female_full_name)
print("Самое популярное мужское имя (как отдельные имена):", most_popular_male_name)
print("Самое популярное мужское составное имя:", most_popular_male_full_name)

Самое популярное женское имя (как отдельные имена): Mary
Самое популярное женское составное имя: Mary
Самое популярное мужское имя (как отдельные имена): William
Самое популярное мужское составное имя: John

In [39]:
import os
# Путь к файлу на Google Drive
folder_path = '/content/drive/MyDrive/Программирование на языке Python/Lab_Python_6_PIM/'

# Путь к файлу с новым именем в этой папке
file_path = os.path.join(folder_path, 'titanic2.csv')

# Сохранение DataFrame в CSV
df_titanic.to_csv(file_path, index=False)

print(f"Файл сохранен по пути: {file_path}")

Файл сохранен по пути: /content/drive/MyDrive/Программирование на языке Python/Lab_Python_6_PIM/titanic2.csv

In [35]:
# Анализ типов данных и распределения
for col in df_titanic.columns:
    print(f"Столбец: {col}")
    print(f"Тип данных: {df_titanic[col].dtype}")
    print(f"Уникальные значения: {df_titanic[col].unique()}")
    print(f"Распределение: {df_titanic[col].value_counts().head()}")
    print(df_titanic[col].describe())
    print()

Столбец: PassengerId
Тип данных: int64
Уникальные значения: [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396
 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414
 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432
 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450
 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468
 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486
 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504
 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522
 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540
 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558
 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576
 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594
 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612
 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630
 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648
 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666
 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684
 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702
 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720
 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738
 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756
 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774
 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792
 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810
 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828
 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846
 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864
 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882
 883 884 885 886 887 888 889 890 891]
Распределение: PassengerId
1      1
599    1
588    1
589    1
590    1
Name: count, dtype: int64
count    891.000000
mean     446.000000
std      257.353842
min        1.000000
25%      223.500000
50%      446.000000
75%      668.500000
max      891.000000
Name: PassengerId, dtype: float64

Столбец: Survived
Тип данных: int64
Уникальные значения: [0 1]
Распределение: Survived
0    549
1    342
Name: count, dtype: int64
count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64

Столбец: Pclass
Тип данных: int64
Уникальные значения: [3 1 2]
Распределение: Pclass
3    491
1    216
2    184
Name: count, dtype: int64
count    891.000000
mean       2.308642
std        0.836071
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        3.000000
Name: Pclass, dtype: float64

Столбец: Name
Тип данных: object
Уникальные значения: ['Braund, Mr. Owen Harris'
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
 'Heikkinen, Miss. Laina' 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
 'Allen, Mr. William Henry' 'Moran, Mr. James' 'McCarthy, Mr. Timothy J'
 'Palsson, Master. Gosta Leonard'
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)'
 'Nasser, Mrs. Nicholas (Adele Achem)' 'Sandstrom, Miss. Marguerite Rut'
 'Bonnell, Miss. Elizabeth' 'Saundercock, Mr. William Henry'
 'Andersson, Mr. Anders Johan' 'Vestrom, Miss. Hulda Amanda Adolfina'
 'Hewlett, Mrs. (Mary D Kingcome) ' 'Rice, Master. Eugene'
 'Williams, Mr. Charles Eugene'
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)'
 'Masselmani, Mrs. Fatima' 'Fynney, Mr. Joseph J' 'Beesley, Mr. Lawrence'
 'McGowan, Miss. Anna "Annie"' 'Sloper, Mr. William Thompson'
 'Palsson, Miss. Torborg Danira'
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)'
 'Emir, Mr. Farred Chehab' 'Fortune, Mr. Charles Alexander'
 'O\'Dwyer, Miss. Ellen "Nellie"' 'Todoroff, Mr. Lalio'
 'Uruchurtu, Don. Manuel E'
 'Spencer, Mrs. William Augustus (Marie Eugenie)'
 'Glynn, Miss. Mary Agatha' 'Wheadon, Mr. Edward H'
 'Meyer, Mr. Edgar Joseph' 'Holverson, Mr. Alexander Oskar'
 'Mamee, Mr. Hanna' 'Cann, Mr. Ernest Charles'
 'Vander Planke, Miss. Augusta Maria' 'Nicola-Yarred, Miss. Jamila'
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)'
 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)'
 'Kraeff, Mr. Theodor' 'Laroche, Miss. Simonne Marie Anne Andree'
 'Devaney, Miss. Margaret Delia' 'Rogers, Mr. William John'
 'Lennon, Mr. Denis' "O'Driscoll, Miss. Bridget" 'Samaan, Mr. Youssef'
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)'
 'Panula, Master. Juha Niilo' 'Nosworthy, Mr. Richard Cater'
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)'
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)'
 'Ostby, Mr. Engelhart Cornelius' 'Woolner, Mr. Hugh' 'Rugg, Miss. Emily'
 'Novel, Mr. Mansouer' 'West, Miss. Constance Mirium'
 'Goodwin, Master. William Frederick' 'Sirayanian, Mr. Orsen'
 'Icard, Miss. Amelie' 'Harris, Mr. Henry Birkhardt'
 'Skoog, Master. Harald' 'Stewart, Mr. Albert A'
 'Moubarek, Master. Gerios' 'Nye, Mrs. (Elizabeth Ramell)'
 'Crease, Mr. Ernest James' 'Andersson, Miss. Erna Alexandra'
 'Kink, Mr. Vincenz' 'Jenkin, Mr. Stephen Curnow'
 'Goodwin, Miss. Lillian Amy' 'Hood, Mr. Ambrose Jr'
 'Chronopoulos, Mr. Apostolos' 'Bing, Mr. Lee' 'Moen, Mr. Sigurd Hansen'
 'Staneff, Mr. Ivan' 'Moutal, Mr. Rahamin Haim'
 'Caldwell, Master. Alden Gates' 'Dowdell, Miss. Elizabeth'
 'Waelens, Mr. Achille' 'Sheerlinck, Mr. Jan Baptist'
 'McDermott, Miss. Brigdet Delia' 'Carrau, Mr. Francisco M'
 'Ilett, Miss. Bertha'
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)'
 'Ford, Mr. William Neal' 'Slocovski, Mr. Selman Francis'
 'Fortune, Miss. Mabel Helen' 'Celotti, Mr. Francesco'
 'Christmann, Mr. Emil' 'Andreasson, Mr. Paul Edvin'
 'Chaffee, Mr. Herbert Fuller' 'Dean, Mr. Bertram Frank'
 'Coxon, Mr. Daniel' 'Shorney, Mr. Charles Joseph'
 'Goldschmidt, Mr. George B' 'Greenfield, Mr. William Bertram'
 'Doling, Mrs. John T (Ada Julia Bone)' 'Kantor, Mr. Sinai'
 'Petranec, Miss. Matilda' 'Petroff, Mr. Pastcho ("Pentcho")'
 'White, Mr. Richard Frasar' 'Johansson, Mr. Gustaf Joel'
 'Gustafsson, Mr. Anders Vilhelm' 'Mionoff, Mr. Stoytcho'
 'Salkjelsvik, Miss. Anna Kristine' 'Moss, Mr. Albert Johan'
 'Rekic, Mr. Tido' 'Moran, Miss. Bertha' 'Porter, Mr. Walter Chamberlain'
 'Zabour, Miss. Hileni' 'Barton, Mr. David John' 'Jussila, Miss. Katriina'
 'Attalah, Miss. Malake' 'Pekoniemi, Mr. Edvard' 'Connors, Mr. Patrick'
 'Turpin, Mr. William John Robert' 'Baxter, Mr. Quigg Edmond'
 'Andersson, Miss. Ellis Anna Maria' 'Hickman, Mr. Stanley George'
 'Moore, Mr. Leonard Charles' 'Nasser, Mr. Nicholas' 'Webber, Miss. Susan'
 'White, Mr. Percival Wayland' 'Nicola-Yarred, Master. Elias'
 'McMahon, Mr. Martin' 'Madsen, Mr. Fridtjof Arne' 'Peter, Miss. Anna'
 'Ekstrom, Mr. Johan' 'Drazenoic, Mr. Jozef'
 'Coelho, Mr. Domingos Fernandeo'
 'Robins, Mrs. Alexander A (Grace Charity Laury)'
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)'
 'Sobey, Mr. Samuel James Hayden' 'Richard, Mr. Emile'
 'Newsom, Miss. Helen Monypeny' 'Futrelle, Mr. Jacques Heath'
 'Osen, Mr. Olaf Elon' 'Giglio, Mr. Victor'
 'Boulos, Mrs. Joseph (Sultana)' 'Nysten, Miss. Anna Sofia'
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)'
 'Burke, Mr. Jeremiah' 'Andrew, Mr. Edgardo Samuel'
 'Nicholls, Mr. Joseph Charles'
 'Andersson, Mr. August Edvard ("Wennerstrom")'
 'Ford, Miss. Robina Maggie "Ruby"'
 'Navratil, Mr. Michel ("Louis M Hoffman")'
 'Byles, Rev. Thomas Roussel Davids' 'Bateman, Rev. Robert James'
 'Pears, Mrs. Thomas (Edith Wearne)' 'Meo, Mr. Alfonzo'
 'van Billiard, Mr. Austin Blyler' 'Olsen, Mr. Ole Martin'
 'Williams, Mr. Charles Duane' 'Gilnagh, Miss. Katherine "Katie"'
 'Corn, Mr. Harry' 'Smiljanic, Mr. Mile' 'Sage, Master. Thomas Henry'
 'Cribb, Mr. John Hatfield'
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)'
 'Bengtsson, Mr. John Viktor' 'Calic, Mr. Jovo'
 'Panula, Master. Eino Viljami'
 'Goldsmith, Master. Frank John William "Frankie"'
 'Chibnall, Mrs. (Edith Martha Bowerman)'
 'Skoog, Mrs. William (Anna Bernhardina Karlsson)' 'Baumann, Mr. John D'
 'Ling, Mr. Lee' 'Van der hoef, Mr. Wyckoff' 'Rice, Master. Arthur'
 'Johnson, Miss. Eleanor Ileen' 'Sivola, Mr. Antti Wilhelm'
 'Smith, Mr. James Clinch' 'Klasen, Mr. Klas Albin'
 'Lefebre, Master. Henry Forbes' 'Isham, Miss. Ann Elizabeth'
 'Hale, Mr. Reginald' 'Leonard, Mr. Lionel' 'Sage, Miss. Constance Gladys'
 'Pernot, Mr. Rene' 'Asplund, Master. Clarence Gustaf Hugo'
 'Becker, Master. Richard F' 'Kink-Heilmann, Miss. Luise Gretchen'
 'Rood, Mr. Hugh Roscoe'
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)'
 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")' 'Bourke, Mr. John'
 'Turcin, Mr. Stjepan' 'Pinsky, Mrs. (Rosa)' 'Carbines, Mr. William'
 'Andersen-Jensen, Miss. Carla Christine Nielsine'
 'Navratil, Master. Michel M' 'Brown, Mrs. James Joseph (Margaret Tobin)'
 'Lurette, Miss. Elise' 'Mernagh, Mr. Robert'
 'Olsen, Mr. Karl Siegwart Andreas' 'Madigan, Miss. Margaret "Maggie"'
 'Yrois, Miss. Henriette ("Mrs Harbeck")' 'Vande Walle, Mr. Nestor Cyriel'
 'Sage, Mr. Frederick' 'Johanson, Mr. Jakob Alfred' 'Youseff, Mr. Gerious'
 'Cohen, Mr. Gurshon "Gus"' 'Strom, Miss. Telma Matilda'
 'Backstrom, Mr. Karl Alfred' 'Albimona, Mr. Nassef Cassem'
 'Carr, Miss. Helen "Ellen"' 'Blank, Mr. Henry' 'Ali, Mr. Ahmed'
 'Cameron, Miss. Clear Annie' 'Perkin, Mr. John Henry'
 'Givard, Mr. Hans Kristensen' 'Kiernan, Mr. Philip'
 'Newell, Miss. Madeleine' 'Honkanen, Miss. Eliina'
 'Jacobsohn, Mr. Sidney Samuel' 'Bazzani, Miss. Albina'
 'Harris, Mr. Walter' 'Sunderland, Mr. Victor Francis'
 'Bracken, Mr. James H' 'Green, Mr. George Henry' 'Nenkoff, Mr. Christo'
 'Hoyt, Mr. Frederick Maxfield' 'Berglund, Mr. Karl Ivar Sven'
 'Mellors, Mr. William John' 'Lovell, Mr. John Hall ("Henry")'
 'Fahlstrom, Mr. Arne Jonas' 'Lefebre, Miss. Mathilde'
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)' 'Larsson, Mr. Bengt Edvin'
 'Sjostedt, Mr. Ernst Adolf' 'Asplund, Miss. Lillian Gertrud'
 'Leyson, Mr. Robert William Norman' 'Harknett, Miss. Alice Phoebe'
 'Hold, Mr. Stephen' 'Collyer, Miss. Marjorie "Lottie"'
 'Pengelly, Mr. Frederick William' 'Hunt, Mr. George Henry'
 'Zabour, Miss. Thamine' 'Murphy, Miss. Katherine "Kate"'
 'Coleridge, Mr. Reginald Charles' 'Maenpaa, Mr. Matti Alexanteri'
 'Attalah, Mr. Sleiman' 'Minahan, Dr. William Edward'
 'Lindahl, Miss. Agda Thorilda Viktoria' 'Hamalainen, Mrs. William (Anna)'
 'Beckwith, Mr. Richard Leonard' 'Carter, Rev. Ernest Courtenay'
 'Reed, Mr. James George' 'Strom, Mrs. Wilhelm (Elna Matilda Persson)'
 'Stead, Mr. William Thomas' 'Lobb, Mr. William Arthur'
 'Rosblom, Mrs. Viktor (Helena Wilhelmina)'
 'Touma, Mrs. Darwis (Hanne Youssef Razi)'
 'Thorne, Mrs. Gertrude Maybelle' 'Cherry, Miss. Gladys'
 'Ward, Miss. Anna' 'Parrish, Mrs. (Lutie Davis)' 'Smith, Mr. Thomas'
 'Asplund, Master. Edvin Rojj Felix' 'Taussig, Mr. Emil'
 'Harrison, Mr. William' 'Henry, Miss. Delia' 'Reeves, Mr. David'
 'Panula, Mr. Ernesti Arvid' 'Persson, Mr. Ernst Ulrik'
 'Graham, Mrs. William Thompson (Edith Junkins)' 'Bissette, Miss. Amelia'
 'Cairns, Mr. Alexander' 'Tornquist, Mr. William Henry'
 'Mellinger, Mrs. (Elizabeth Anne Maidment)' 'Natsch, Mr. Charles H'
 'Healy, Miss. Hanora "Nora"' 'Andrews, Miss. Kornelia Theodosia'
 'Lindblom, Miss. Augusta Charlotta' 'Parkes, Mr. Francis "Frank"'
 'Rice, Master. Eric' 'Abbott, Mrs. Stanton (Rosa Hunt)'
 'Duane, Mr. Frank' 'Olsson, Mr. Nils Johan Goransson'
 'de Pelsmaeker, Mr. Alfons' 'Dorking, Mr. Edward Arthur'
 'Smith, Mr. Richard William' 'Stankovic, Mr. Ivan'
 'de Mulder, Mr. Theodore' 'Naidenoff, Mr. Penko' 'Hosono, Mr. Masabumi'
 'Connolly, Miss. Kate' 'Barber, Miss. Ellen "Nellie"'
 'Bishop, Mrs. Dickinson H (Helen Walton)' 'Levy, Mr. Rene Jacques'
 'Haas, Miss. Aloisia' 'Mineff, Mr. Ivan' 'Lewy, Mr. Ervin G'
 'Hanna, Mr. Mansour' 'Allison, Miss. Helen Loraine'
 'Saalfeld, Mr. Adolphe' 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)'
 'Kelly, Miss. Anna Katherine "Annie Kate"' 'McCoy, Mr. Bernard'
 'Johnson, Mr. William Cahoone Jr' 'Keane, Miss. Nora A'
 'Williams, Mr. Howard Hugh "Harry"' 'Allison, Master. Hudson Trevor'
 'Fleming, Miss. Margaret'
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)'
 'Abelson, Mr. Samuel' 'Francatelli, Miss. Laura Mabel'
 'Hays, Miss. Margaret Bechstein' 'Ryerson, Miss. Emily Borie'
 'Lahtinen, Mrs. William (Anna Sylfven)' 'Hendekovic, Mr. Ignjac'
 'Hart, Mr. Benjamin' 'Nilsson, Miss. Helmina Josefina'
 'Kantor, Mrs. Sinai (Miriam Sternin)' 'Moraweck, Dr. Ernest'
 'Wick, Miss. Mary Natalie'
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)'
 'Dennis, Mr. Samuel' 'Danoff, Mr. Yoto' 'Slayter, Miss. Hilda Mary'
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)'
 'Sage, Mr. George John Jr' 'Young, Miss. Marie Grice'
 'Nysveen, Mr. Johan Hansen' 'Ball, Mrs. (Ada E Hall)'
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)'
 'Hippach, Miss. Jean Gertrude' 'McCoy, Miss. Agnes' 'Partner, Mr. Austen'
 'Graham, Mr. George Edward' 'Vander Planke, Mr. Leo Edmondus'
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)' 'Denkoff, Mr. Mitto'
 'Pears, Mr. Thomas Clinton' 'Burns, Miss. Elizabeth Margaret'
 'Dahl, Mr. Karl Edwart' 'Blackwell, Mr. Stephen Weart'
 'Navratil, Master. Edmond Roger' 'Fortune, Miss. Alice Elizabeth'
 'Collander, Mr. Erik Gustaf' 'Sedgwick, Mr. Charles Frederick Waddington'
 'Fox, Mr. Stanley Hubert' 'Brown, Miss. Amelia "Mildred"'
 'Smith, Miss. Marion Elsie' 'Davison, Mrs. Thomas Henry (Mary E Finck)'
 'Coutts, Master. William Loch "William"' 'Dimic, Mr. Jovan'
 'Odahl, Mr. Nils Martin' 'Williams-Lambert, Mr. Fletcher Fellows'
 'Elias, Mr. Tannous' 'Arnold-Franchi, Mr. Josef' 'Yousif, Mr. Wazli'
 'Vanden Steen, Mr. Leo Peter' 'Bowerman, Miss. Elsie Edith'
 'Funk, Miss. Annie Clemmer' 'McGovern, Miss. Mary'
 'Mockler, Miss. Helen Mary "Ellie"' 'Skoog, Mr. Wilhelm'
 'del Carlo, Mr. Sebastiano' 'Barbara, Mrs. (Catherine David)'
 'Asim, Mr. Adola' "O'Brien, Mr. Thomas" 'Adahl, Mr. Mauritz Nils Martin'
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)'
 'Moussa, Mrs. (Mantoura Boulos)' 'Jermyn, Miss. Annie'
 'Aubart, Mme. Leontine Pauline' 'Harder, Mr. George Achilles'
 'Wiklund, Mr. Jakob Alfred' 'Beavan, Mr. William Thomas'
 'Ringhini, Mr. Sante' 'Palsson, Miss. Stina Viola'
 'Meyer, Mrs. Edgar Joseph (Leila Saks)' 'Landergren, Miss. Aurora Adelia'
 'Widener, Mr. Harry Elkins' 'Betros, Mr. Tannous'
 'Gustafsson, Mr. Karl Gideon' 'Bidois, Miss. Rosalie'
 'Nakid, Miss. Maria ("Mary")' 'Tikkanen, Mr. Juho'
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)'
 'Plotcharsky, Mr. Vasil' 'Davies, Mr. Charles Henry'
 'Goodwin, Master. Sidney Leonard' 'Buss, Miss. Kate'
 'Sadlier, Mr. Matthew' 'Lehmann, Miss. Bertha'
 'Carter, Mr. William Ernest' 'Jansson, Mr. Carl Olof'
 'Gustafsson, Mr. Johan Birger' 'Newell, Miss. Marjorie'
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)'
 'Johansson, Mr. Erik' 'Olsson, Miss. Elina' 'McKane, Mr. Peter David'
 'Pain, Dr. Alfred' 'Trout, Mrs. William H (Jessie L)'
 'Niskanen, Mr. Juha' 'Adams, Mr. John' 'Jussila, Miss. Mari Aina'
 'Hakkarainen, Mr. Pekka Pietari' 'Oreskovic, Miss. Marija'
 'Gale, Mr. Shadrach' 'Widegren, Mr. Carl/Charles Peter'
 'Richards, Master. William Rowe' 'Birkeland, Mr. Hans Martin Monsen'
 'Lefebre, Miss. Ida' 'Sdycoff, Mr. Todor' 'Hart, Mr. Henry'
 'Minahan, Miss. Daisy E' 'Cunningham, Mr. Alfred Fleming'
 'Sundman, Mr. Johan Julian' 'Meek, Mrs. Thomas (Annie Louise Rowley)'
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)'
 'Silven, Miss. Lyyli Karoliina' 'Matthews, Mr. William John'
 'Van Impe, Miss. Catharina' 'Gheorgheff, Mr. Stanio'
 'Charters, Mr. David' 'Zimmerman, Mr. Leo'
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)'
 'Rosblom, Mr. Viktor Richard' 'Wiseman, Mr. Phillippe'
 'Clarke, Mrs. Charles V (Ada Maria Winfield)'
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")'
 'Flynn, Mr. James' 'Pickard, Mr. Berk (Berk Trembisky)'
 'Bjornstrom-Steffansson, Mr. Mauritz Hakan'
 'Thorneycroft, Mrs. Percival (Florence Kate White)'
 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)'
 'Kallio, Mr. Nikolai Erland' 'Silvey, Mr. William Baird'
 'Carter, Miss. Lucile Polk' 'Ford, Miss. Doolina Margaret "Daisy"'
 'Richards, Mrs. Sidney (Emily Hocking)' 'Fortune, Mr. Mark'
 'Kvillner, Mr. Johan Henrik Johannesson'
 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)' 'Hampe, Mr. Leon'
 'Petterson, Mr. Johan Emil' 'Reynaldo, Ms. Encarnacion'
 'Johannesen-Bratthammer, Mr. Bernt' 'Dodge, Master. Washington'
 'Mellinger, Miss. Madeleine Violet' 'Seward, Mr. Frederic Kimber'
 'Baclini, Miss. Marie Catherine' 'Peuchen, Major. Arthur Godfrey'
 'West, Mr. Edwy Arthur' 'Hagland, Mr. Ingvald Olai Olsen'
 'Foreman, Mr. Benjamin Laventall' 'Goldenberg, Mr. Samuel L'
 'Peduzzi, Mr. Joseph' 'Jalsevac, Mr. Ivan' 'Millet, Mr. Francis Davis'
 'Kenyon, Mrs. Frederick R (Marion)' 'Toomey, Miss. Ellen'
 "O'Connor, Mr. Maurice" 'Anderson, Mr. Harry' 'Morley, Mr. William'
 'Gee, Mr. Arthur H' 'Milling, Mr. Jacob Christian' 'Maisner, Mr. Simon'
 'Goncalves, Mr. Manuel Estanslas' 'Campbell, Mr. William'
 'Smart, Mr. John Montgomery' 'Scanlan, Mr. James'
 'Baclini, Miss. Helene Barbara' 'Keefe, Mr. Arthur' 'Cacic, Mr. Luka'
 'West, Mrs. Edwy Arthur (Ada Mary Worth)'
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)'
 'Strandberg, Miss. Ida Sofia' 'Clifford, Mr. George Quincy'
 'Renouf, Mr. Peter Henry' 'Braund, Mr. Lewis Richard'
 'Karlsson, Mr. Nils August' 'Hirvonen, Miss. Hildur E'
 'Goodwin, Master. Harold Victor' 'Frost, Mr. Anthony Wood "Archie"'
 'Rouse, Mr. Richard Henry' 'Turkula, Mrs. (Hedwig)'
 'Bishop, Mr. Dickinson H' 'Lefebre, Miss. Jeannie'
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)'
 'Kent, Mr. Edward Austin' 'Somerton, Mr. Francis William'
 'Coutts, Master. Eden Leslie "Neville"'
 'Hagland, Mr. Konrad Mathias Reiersen' 'Windelov, Mr. Einar'
 'Molson, Mr. Harry Markland' 'Artagaveytia, Mr. Ramon'
 'Stanley, Mr. Edward Roland' 'Yousseff, Mr. Gerious'
 'Eustis, Miss. Elizabeth Mussey' 'Shellard, Mr. Frederick William'
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)' 'Svensson, Mr. Olof'

6) Приведите список уникальных (неповторяющихся, только один человек имеет это имя) имен пассажиров, отдельно мужских и женских. Рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена. Выведите таблицу с этими пассажирами.

In [47]:
# Функция для проверки уникальности имени
def is_unique_name(name, sex, df):
    count = len(df[(df['FirstNameList'] == name) & (df['Sex'] == sex)])
    return count == 1

# Разделение имен на составные и отдельные
df_titanic['IsCompoundName'] = df_titanic['FirstNameList'].apply(lambda x: len(x.split()) > 1 if pd.notnull(x) else False)

# Нахождение уникальных имен
unique_compound_names = []
unique_single_names = []

for name, row in df_titanic.iterrows():
    if pd.notnull(row['FirstNameList']):
        if is_unique_name(row['FirstNameList'], row['Sex'], df_titanic):
            if row['IsCompoundName']:
                unique_compound_names.append({'Пол': row['Sex'], 'Имя': row['FirstNameList']})
            else:
                unique_single_names.append({'Пол': row['Sex'], 'Имя': row['FirstNameList']})

# Создание таблицы для составных имен
compound_names_df = pd.DataFrame(unique_compound_names)

# Создание таблицы для отдельных имен
single_names_df = pd.DataFrame(unique_single_names)

# Вывод таблиц
print("Таблица составных имен:")
print(compound_names_df)
print("\nТаблица отдельных имен:")
print(single_names_df)

Таблица составных имен:
        Пол                        Имя
0      male                Owen Harris
1    female     Florence Briggs Thayer
2    female              Lily May Peel
3      male              Gosta Leonard
4    female  Elisabeth Vilhelmina Berg
..      ...                        ...
493    male            Frederick James
494  female            Margaret Norton
495  female             Margaret Edith
496  female     Catherine Helen Carrie
497    male                Karl Howell

[498 rows x 2 columns]

Таблица отдельных имен:
        Пол      Имя
0    female    Laina
1      male   Eugene
2    female   Fatima
3      male   Manuel
4    female   Jamila
..      ...      ...
210    male    Cerin
211    male  Nedelio
212    male   Kristo
213    male   Johann
214    male   Juozas

[215 rows x 2 columns]

7) Приведите множество всех имен пассажиров, отдельно мужских и женских. Рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена.

In [49]:
# Разделение составных имен на отдельные
df_titanic["SingleNames"] = df_titanic["FirstNameList"].apply(lambda x: x.split() if pd.notnull(x) and len(x.split()) > 1 else [x])

# Создание множеств имен
male_compound_names = set(df_titanic[df_titanic['Sex'] == 'male']['FirstNameList'].dropna())
female_compound_names = set(df_titanic[df_titanic['Sex'] == 'female']['FirstNameList'].dropna())

male_single_names = set()
female_single_names = set()

for index, row in df_titanic.iterrows():
    if pd.notnull(row['FirstNameList']):
        for name in row['SingleNames']:
            if row['Sex'] == 'male':
                male_single_names.add(name)
            elif row['Sex'] == 'female':
                female_single_names.add(name)

# Вывод множеств
print("Мужские составные имена (целиком):")
print(male_compound_names)
print("\nМужские отдельные имена:")
print(male_single_names)

print("\nЖенские составные имена (целиком):")
print(female_compound_names)
print("\nЖенские отдельные имена:")
print(female_single_names)

Мужские составные имена (целиком):
{'William', 'Jeso', 'Peju', 'Kristo', 'Michel Louis Hoffman', 'John William', 'Johan Emil', 'Henry', 'Phillippe', 'Alfonzo', 'Emil', 'Alexander Oskar', 'Lawrence', 'Johan Hansen', 'Peter David', 'Edward Arthur', 'Edward Gifford', 'Denis', 'Benjamin Laventall', 'Masabumi', 'Konrad Mathias Reiersen', 'Gustaf Hjalmar', 'Douglas Bullen', 'Mansour', 'Patrick', 'Hanna Assi', 'Frans Olof', 'Robert Douglas', 'John Denzil', 'Samuel James Hayden', 'Jovo', 'Mohamed', 'Gustave', 'Reginald Fenton', 'Richard Henry', 'Walter', 'Edward Austin', 'George George Arthur Brayton', 'Ahmed', 'Nedelio', 'Jacques Heath', 'Nils Martin', 'Ennis Hastings', 'Fahim Philip Zenni', 'Pekka Pietari', 'Rene Aime', 'Ole Martin', 'Karl Johan', 'Harold Victor', 'William James', 'Gustaf Joel', 'John George', 'Thor Anderson', 'Karl Alfred', 'Emile', 'Herbert Fuller', 'Milton Clyde', 'Robert', 'Frederick Edward', 'Harry Elkins', 'Antoni', 'Houssein', 'Harry', 'Juozas', 'John Hatfield', 'Manuel Estanslas', 'Minko', 'Eden Leslie Neville', 'Austin Blyler', 'William Anderson', 'August Edvard Wennerstrom', 'Reginald', 'Fletcher Fellows', 'Nikolai Erland', 'Erik', 'William Cahoone', 'Norman Campbell', 'Daniel Danielsen', 'Thomas Drake Martinez', 'Frederick Charles', 'Liudevit', 'Ervin', 'Nassef Cassem', 'John Henry', 'Alfred', 'Spencer Victor', 'Malkolm Joackim', 'Juha Niilo', 'Dickinson', 'Joseph Philippe Lemercier', 'William John Robert', 'Gurshon Gus', 'Stoytcho', 'Mauritz Hakan', 'Thornton', 'Domingos Fernandeo', 'William Baird', 'Bernard', 'Anthony', 'Harry Markland', 'Karl Ivar Sven', 'Meier', 'George Sibley', 'Benjamin', 'Charles Alexander', 'Percy Andrew', 'William Edward', 'Henrik Juul', 'Karl Gideon', 'Chang', 'Stefo', 'Charles Leonard', 'Antti Gustaf', 'Yousseff', 'Andrew', 'Ernest Charles', 'Oskar Arvid', 'George Achilles', 'Arthur Ernest', 'Rahamin Haim', 'Husein', 'Washington Augustus', 'Stephen', 'Philemon', 'Sidney Samuel', 'William Alfred', 'Tannous', 'David', 'August Sigfrid', 'Ignjac', 'Ambrose', 'Vasil', 'Alfred Ossian', 'Berk Berk Trembisky', 'Lalio', 'Edward', 'Ramon', 'Henry Margido', 'Branko', 'Elias', 'Mark', 'Uscher', 'John Hall Henry', 'Bernt', 'Jaako Arnold', 'Sinai', 'Arthur Webster', 'Kurt Arnold Gottfrid', 'Antti Wilhelm', 'Howard Hugh Harry', 'Ernst Adolf', 'Thomas Rowan', 'John Morgan', 'Johannes Joseph', 'Charles Duane', 'Jacob', 'Johann', 'Thomas', 'John Irwin Irving', 'Johannes Halvorsen', 'Anthony Wood Archie', 'Jovan', 'Nils Johan Goransson', 'Josef', 'Eliezer', 'Thomas Henry', 'William Thomas', 'Juha', 'Owen Harris', 'Pastcho Pentcho', 'August Viktor', 'Petco', 'Jakob Alfred', 'Leo', 'Peter Henry', 'Leonard Mark', 'William Arthur', 'Richard George', 'Karl Thorsten', 'Sarkis', 'Arne Jonas', 'Elmer Zebley', 'Hugh', 'William Thompson', 'CarlCharles Peter', 'Edgardo Samuel', 'Charles Eugene', 'George Hugh', 'Mile', 'Arthur', 'Samuel Beard', 'Len', 'Arthur Jackson', 'Frederick James', 'Johan Julian', 'Edmond Roger', 'John Borland', 'Alden Gates', 'Mito', 'Thomas Clinton', 'Victor Satode', 'Choong', 'Ernest Courtenay', 'Edvard Bengtsson', 'Frederic Kimber', 'Iisakki Antino Aijo', 'Thomas William Solomon', 'Reginald Charles', 'Richard Leonard', 'Farred Chehab', 'Lewis Richard', 'Dibo', 'Vincenz', 'Orsen', 'Samuel', 'Eiriik', 'Johan Henrik Johannesson', 'William Bertram', 'Charles Hallace Rolmane', 'Guentcho', 'Jacob Christian', 'Abraham David Lishin', 'Harold Theodor', 'Rene', 'Cosmo Edmund Morgan', 'James George', 'Einar', 'Henry Michael', 'Albert Johan', 'Theodore', 'Joseph', 'Harvey', 'Richard Cater', 'Charles', 'William Rowe', 'Matti Alexanteri', 'Jeremiah', 'Amin', 'Karl Siegwart Andreas', 'Ingvald Olai Olsen', 'Ristiu', 'Lewis', 'Albert', 'Adolf Mathias Nicolai Olsen', 'Ernest', 'Harry Haven', 'Achille', 'Charles Edward', 'Henry Forbes', 'Apostolos', 'Robert Williams', 'Robert William Norman', 'William Henry Marsh', 'John Fredrik Alexander', 'Henry William', 'Henry Sleeper', 'Mansouer', 'Ilmari Rudolf', 'Penko', 'Selman Francis', 'Edvin Rojj Felix', 'Daniel', 'Sante', 'Francesco', 'Rene Jacques', 'Hans Linus', 'Owen George', 'Manuel', 'Klas Albin', 'Gerios', 'Stephen Weart', 'Cerin', 'Janko', 'Michel', 'Leonard Charles', 'Sigvard Harald Elias', 'Anders Johan', 'Rossmore Edward', 'Tido', 'Carl', 'George', 'Maxmillian', 'Sebastiano', 'Karl Edwart', 'Erik Gustaf', 'Svend Lauritz', 'Clarence Gustaf Hugo', 'Charles Henry', 'Walter Chamberlain', 'Henry Price', 'Francis Davis', 'William Thornton', 'George Edward', 'Moses Aaron', 'Victor', 'Adolphe', 'Francisco', 'Edgar Joseph', 'David John Dai', 'Quigg Edmond', 'Mauritz Nils Martin', 'John Montgomery', 'Gosta Leonard', 'Edward Pennington', 'Hans Kristensen', 'Stanley Hubert', 'Olaf Elon', 'Ivan', 'James', 'Leo Peter', 'Walter Donald', 'Eugene Patrick', 'Peter', 'Marin', 'Bengt Edvin', 'Michael', 'Eino William', 'Jose Neto', 'Ernesti Arvid', 'Percival', 'Sigurd Hansen', 'Edward Roland', 'Charles Joseph', 'Hans Martin Monsen', 'Harald', 'Khalil', 'Claus Peter', 'Charles Frederick Waddington', 'Robert James', 'Eberhard Thelander', 'James Clinch', 'Sleiman', 'Algernon Henry Wilson', 'Yoto', 'Daniel Warner', 'Andre', 'Nestor Cyriel', 'Ernst Ulrik', 'George Floyd', 'James Robert', 'William Fisher', 'Thomas Charles', 'William John', 'Ilia', 'Eugene', 'George John', 'William Henry', 'Juho', 'Wilhelm', 'Petar', 'Stanley George', 'Thomas Joseph', 'Frederick William', 'Gerious', 'Ernst Gilbert', 'Milan', 'Matti', 'Edward Pomeroy', 'Tyrell William', 'Stephen Curnow', 'Niels Peder', 'Ernest James', 'Hammad', 'Maurice', 'Richard James', 'Stanio', 'Julian', 'Max', 'Halim Gonios William George', 'Fared', 'Richard Frasar', 'Urho Abraham', 'Oberst Alfons', 'Alexander', 'Jean Baptiste', 'Richard William', 'August', 'Pierre', 'Bertram Frank', 'Christo', 'Frederick', 'Karl Howell', 'Frank John', 'Henry Damsgaard', 'Luka', 'Kanio', 'Percival James', 'Roger', 'Fang', 'Johan Birger', 'Edwy Arthur', 'Raihed', 'Wyckoff', 'Peter Denis', 'Viktor Richard', 'Albert Adrian', 'Frank John William Frankie', 'Knud Paust', 'Edwin Nelson', 'Bertram Vere', 'Sidney Leonard', 'Ernest Portage', 'Nakli', 'Stjepan', 'David John', 'Johan', 'Henry Samuel Henry Marshall', 'Adola', 'Peter Andreas Lauritz Andersen', 'Jakob', 'Olof', 'Walter James', 'Fridtjof Arne', 'Leon', 'Archibald Willingham', 'Leslie', 'Mitto', 'Youssef', 'Joseph Charles', 'Ernst William', 'Herman', 'Nikola', 'Jozef', 'Washington', 'Pehr Fabian Oliver Malkolm', 'Lee', 'William Ernest', 'Wazli', 'Timothy', 'Arthur Godfrey', 'Edvard', 'Paul Edvin', 'Nils August', 'William Frederick', 'Neal', 'Johan Svensson', 'Matthew', 'George Henry', 'Johan Werner', 'Alfred George John', 'Richard', 'Thomas Leonard', 'John Hugo', 'Nicholas', 'Shadrach', 'Henry Birkhardt', 'Lionel', 'Satio', 'Jan Baptist', 'Hanna', 'Assad Alexander', 'Francis Frank', 'Austen', 'Hans Peder', 'Hudson Trevor', 'Hugh Roscoe', 'Percival Wayland', 'Sahid', 'William Neal', 'Victor Francis', 'Engelhart Cornelius', 'Theodor', 'Ali', 'Alfred Fleming', 'Philip', 'Eric', 'Todor', 'Francis William', 'Leo Edmondus', 'Frederick Maxfield', 'John', 'Alfons', 'Viljo', 'Simon', 'Carl Olof', 'Frank', 'George Quincy', 'Martin', 'Andrew Andy', 'William Loch William', 'Eino Viljami', 'Anders Vilhelm', 'John Viktor', 'Thomas Roussel Davids'}

Мужские отдельные имена:
{'William', 'Jeso', 'Andersen', 'Peju', 'Kristo', 'Curnow', 'Iisakki', 'Henry', 'Phillippe', 'Kimber', 'Wood', 'Alfonzo', 'Emil', 'Frederic', 'Lawrence', 'Denis', 'Webster', 'Price', 'Edmund', 'Masabumi', 'Chehab', 'Clinch', 'Satode', 'Olai', 'Ennis', 'Mansour', 'Patrick', 'Peder', 'Floyd', 'Forbes', 'Jovo', 'Mohamed', 'Gustave', 'Paust', 'Walter', 'Roussel', 'Quigg', 'Quincy', 'Nikolai', 'Ahmed', 'Gilbert', 'Nedelio', 'Ilmari', 'Wilson', 'Williams', 'Fredrik', 'Milton', 'Cornelius', 'Ossian', 'Sibley', 'Mauritz', 'Pastcho', 'Dai', 'Emile', 'Felix', 'Andreas', 'Bertram', 'Haim', 'Gottfrid', 'Robert', 'Antoni', 'Houssein', 'Harry', 'Juozas', 'Ulrik', 'Eberhard', 'Wayland', 'Urho', 'Gurshon', 'Minko', 'Alden', 'Reginald', 'Assi', 'Blyler', 'Fisher', 'Duane', 'Erik', 'Fenton', 'Oliver', 'Liudevit', 'Ervin', 'Alfred', 'Rudolf', 'Elkins', 'Dickinson', 'Solomon', 'Stoytcho', 'Sigfrid', 'Thornton', 'Augustus', 'Willingham', 'Fabian', 'Bernard', 'Francis', 'Anthony', 'Edvin', 'Meier', 'Edgardo', 'Benjamin', 'Pomeroy', 'Selman', 'Werner', 'Eden', 'Wennerstrom', 'Edwart', 'Godfrey', 'Harold', 'Austin', 'Chang', 'Stefo', 'Achilles', 'Ernesti', 'Heath', 'Yousseff', 'Hoffman', 'Andrew', 'Claus', 'Fleming', 'Gideon', 'Husein', 'Pennington', 'Assad', 'Klas', 'Stephen', 'Adolf', 'Philemon', 'Thor', 'Tannous', 'Svensson', 'David', 'Konrad', 'Rowan', 'Ignjac', 'Campbell', 'Ambrose', 'Vasil', 'Neville', 'Farred', 'Lalio', 'Edward', 'Ramon', 'Jan', 'Branko', 'Elias', 'Mark', 'Uscher', 'Bernt', 'Sinai', 'Hansen', 'Herbert', 'Edwin', 'Fahim', 'Johannes', 'Halvorsen', 'Archibald', 'Nicolai', 'Joel', 'Alexanteri', 'Jacob', 'Johann', 'Thomas', 'Sidney', 'Jovan', 'Edmond', 'Thompson', 'Josef', 'Eliezer', 'Jonas', 'Anders', 'Juha', 'Frasar', 'Roland', 'Petco', 'Leo', 'Nestor', 'Norman', 'Knud', 'Malkolm', 'Sarkis', 'Hugh', 'Fuller', 'Lishin', 'Hans', 'Mile', 'Frans', 'Arthur', 'Len', 'Clarence', 'Stanley', 'Pehr', 'Berk', 'Mito', 'Choong', 'Siegwart', 'Aijo', 'Aime', 'Sleeper', 'Antino', 'Dibo', 'Vincenz', 'Orsen', 'Samuel', 'Sven', 'Eiriik', 'Irwin', 'Halim', 'Henrik', 'Damsgaard', 'Danielsen', 'Elmer', 'Guentcho', 'Rene', 'Cyriel', 'Kurt', 'Moses', 'Nassef', 'Cosmo', 'Lemercier', 'Louis', 'Einar', 'Lauritz', 'Theodore', 'Joseph', 'Harvey', 'Charles', 'Amin', 'Jeremiah', 'Marshall', 'Paul', 'Ristiu', 'Lewis', 'Albert', 'Svend', 'Ernest', 'Achille', 'Apostolos', 'Goransson', 'Antti', 'Pekka', 'Mansouer', 'Jackson', 'Sigvard', 'Trevor', 'Percy', 'Warner', 'Hall', 'Marsh', 'Penko', 'Olsen', 'Daniel', 'Markland', 'Sigurd', 'Sante', 'Oskar', 'Francesco', 'Manuel', 'Bengt', 'Spencer', 'Pietari', 'Gerios', 'Cerin', 'Edmondus', 'Janko', 'Bullen', 'Cahoone', 'Loch', 'Montgomery', 'Michel', 'Roscoe', 'Viljami', 'Tido', 'Fernandeo', 'Donald', 'Rossmore', 'Carl', 'George', 'Maxmillian', 'Leonard', 'Sebastiano', 'Algernon', 'Gus', 'Ernst', 'Victor', 'Ingvald', 'Adolphe', 'Irving', 'Tyrell', 'Francisco', 'Laventall', 'Estanslas', 'Thorsten', 'Rahamin', 'Hatfield', 'Ivan', 'Fletcher', 'James', 'Joackim', 'Davids', 'Christian', 'Birkhardt', 'Elon', 'Owen', 'Peter', 'Marin', 'Gosta', 'Michael', 'Jose', 'Howell', 'Cater', 'Percival', 'Cassem', 'Vere', 'Thelander', 'Neto', 'Harald', 'Hudson', 'Khalil', 'Borland', 'Chamberlain', 'Sleiman', 'Yoto', 'Andre', 'Ivar', 'Trembisky', 'Hubert', 'Vilhelm', 'Jacques', 'Philippe', 'Haven', 'Ilia', 'Hugo', 'Rolmane', 'Eugene', 'Ole', 'Erland', 'Juho', 'Monsen', 'Wilhelm', 'Petar', 'Gerious', 'Birger', 'Rojj', 'Milan', 'Hayden', 'Olaf', 'Matti', 'Anderson', 'Hammad', 'Maurice', 'Stanio', 'Julian', 'Drake', 'Max', 'Fridtjof', 'Fared', 'Margido', 'Alexander', 'Baird', 'August', 'Pierre', 'Jaako', 'Gustaf', 'Arne', 'Christo', 'Jean', 'Frederick', 'Luka', 'Kanio', 'Domingos', 'Roger', 'Reiersen', 'Fang', 'Gates', 'Waddington', 'Morgan', 'Abraham', 'Juul', 'Arvid', 'CarlCharles', 'Wyckoff', 'Raihed', 'Howard', 'Archie', 'Frankie', 'Courtenay', 'Nakli', 'Stjepan', 'Johan', 'Bengtsson', 'Adola', 'Edwy', 'Beard', 'Jakob', 'Rowe', 'Johannesson', 'Olof', 'Edgar', 'Leon', 'Leslie', 'Mitto', 'Youssef', 'Aaron', 'Zenni', 'Weart', 'Oberst', 'Gonios', 'Herman', 'Nikola', 'Jozef', 'Washington', 'Lee', 'Linus', 'Arnold', 'Niels', 'Mathias', 'Nils', 'Wazli', 'Timothy', 'Edvard', 'Baptiste', 'Davis', 'Neal', 'Eino', 'Hallace', 'Karl', 'Matthew', 'Maxfield', 'Richard', 'Engelhart', 'Hakan', 'Harris', 'Nicholas', 'Albin', 'Adrian', 'Portage', 'Kristensen', 'Shadrach', 'Lionel', 'Satio', 'Hanna', 'Gifford', 'Zebley', 'Baptist', 'Austen', 'Martinez', 'Sahid', 'Ali', 'Theodor', 'Brayton', 'Philip', 'Eric', 'Fellows', 'Todor', 'Pentcho', 'Nelson', 'John', 'Denzil', 'Niilo', 'Viktor', 'Alfons', 'Viljo', 'Clyde', 'Clinton', 'Andy', 'Simon', 'Frank', 'Martin', 'Douglas', 'Hjalmar', 'Hastings'}

Женские составные имена (целиком):
{'Mathilde Francoise Pede', 'Caroline Louise', 'Martha Evelyn', 'Anna Andrews', 'Juliette Marie Louise Lafargue', 'Ida', 'Madeleine', 'Mabel Helen', 'Margaret Tobin', 'Elina', 'Florence Kate White', 'Marie Catherine', 'Augusta Charlotta', 'Ruth', 'Margaret Welles Barron', 'Jamila', 'Jean Gertrude', 'Rosalie', 'Mara', 'Amelia', 'Bridget Mary', 'Emelia Maria Vandemoortele', 'Kate Florence Mrs Kate Louise Phillips Marshall', 'Sallie Monypeny', 'Beila', 'Eugenie', 'Marjorie Lottie', 'Lily May Peel', 'Catherine Helen Carrie', 'Bertha', 'Grace Charity Laury', 'Johanna Hannah Godfrey', 'Marija', 'Emily Borie', 'Jeannie', 'Maria Mathilda Gustafsson', 'Ellen', 'Madeleine Talmadge Force', 'Daisy', 'Amy Zillah Elsie', 'Annie', 'Kristina Sofia', 'Eva Miriam', 'Nourelain', 'Karolina', 'Emily', 'Thamine', 'Esther Ada Bloomfield', 'Florence', 'Ellen Nellie', 'Edith Wearne', 'Martha Eustis', 'Edwina Celia Winnie', 'Mary Finck', 'Leila Saks', 'Alice Munger', 'Ethel', 'Alice', 'Emily Alice Brown', 'Anna Sophia Atkinson', 'Anna Sigrid Maria Brogren', 'Helen Monypeny', 'Fatima', 'Hedwig Margaritha', 'Gladys', 'Hulda Amanda Adolfina', 'Maria Mary', 'Ada Maria Winfield', 'Lucy', 'Berthe Antonine Mrs Villiers', 'Margaret Ann Watson', 'Ellen Natalia', 'Margaret Norton', 'Marion Ogden', 'Lillian Amy', 'Amelia Milley', 'Edith Junkins', 'Catherine', 'Hanne Youssef Razi', 'Charlotte Annie Tate', 'Agnes Charlotta Bengtsson', 'Lulu Thorne Christian', 'Katie', 'Ellis Anna Maria', 'Alfrida Konstantia Brogren', 'Bridget', 'Laura Mabel', 'Ada Hall', 'Encarnacion', 'Margareth', 'Hanora Nora', 'Eleanor Ileen', 'Marie Grice', 'Marion', 'Margaret Bechstein', 'Adele Achem', 'Anna Sofia', 'Marie Marthe Thuillard', 'Anna Annie', 'Myna Haxtun', 'Kornelia Theodosia', 'Lucy Noel Martha DyerEdwards', 'Velin', 'Helena Wilhelmina', 'Sylvia Mae Harbaugh', 'Laina', 'Kate', 'Eliina', 'Lucile Polk', 'Annie Jessie Nina', 'Elizabeth Anne Wilkinson', 'Rosa Hunt', 'Amelia Mildred', 'Joan', 'Elizabeth Barrett', 'Margaret Edith', 'Elizabeth Margaret', 'Elisabeth Walton', 'Rosalie Paula Govaert', 'Helen Ellen', 'Margaret Maggie', 'Helen Loraine', 'Sultana', 'Gretchen Fiske', 'Pieta Sofia', 'Selma Augusta Emilia Johansson', 'Gertrude', 'Anne', 'Clara Heinsheimer', 'Hannah Wizosky', 'Helene DeLaudeniere Chaput', 'Maria Josefa Perez Soto Vallejo', 'Mary Natalie', 'Katriina', 'Virginia Ethel', 'Alice Adelaide Slow', 'Georgette Alexandra', 'Alice Elizabeth', 'Ingeborg Constanzia', 'Lilian Hughes', 'Matilda', 'Hileni', 'Leontine Pauline', 'Katherine Kate', 'Latifa Qurban', 'Elisabeth Vilhelmina Berg', 'Mary Kingcome', 'Annie Louise Rowley', 'Wendla Maria', 'Anna Sylfven', 'Hilda Mary', 'Tillie Mandelbaum', 'Gerda Ulrika', 'Margaretta Corning Stone', 'Phyllis May', 'Malake', 'Constance Mirium', 'Helen Mary Ellie', 'Jane Richards', 'Carla Christine Nielsine', 'Augusta Tyler', 'Elin Matilda Dolck', 'Mari Aina', 'Augusta Maria', 'Johanna Persdotter Larsson', 'Anna Bernhardina Karlsson', 'Agnes', 'Elizabeth Catherine Ford', 'Manca', 'Clara Jennings Gregg', 'Banoura', 'Maria Elias', 'Constance Gladys', 'Elise', 'Jane Anne Forby', 'Ebba Iris Alfrida', 'Marie Eugenie', 'Anna Kristine', 'Lyyli Karoliina', 'Julie Rachel', 'Elizabeth Ramell', 'Elsie Edith', 'Ada Mary Worth', 'Dorothy Edith Dolly', 'Saiide', 'Emma', 'Hildur', 'Margit Elizabeth', 'Elisabeth Walton McMillan', 'Margaret', 'Juliet Cummins Wright', 'Charlotte Lamson', 'Margaret Delia', 'Margaret Jane', 'Mary Hitchcock', 'Hedwig', 'Eliza Needs', 'Catherine David', 'Mary Agatha', 'Hanora Norah', 'Alice Farnham', 'Asuncion', 'Florence Briggs Thayer', 'Torborg Danira', 'Doolina Margaret Daisy', 'Albina', 'Lucille Christiana Sutherland Mrs Morgan', 'Miriam Sternin', 'Aurora Adelia', 'Imanita Parrish Hall', 'Katherine Katie', 'Luise Gretchen', 'Rosa', 'Elizabeth', 'Leah Rosen', 'Robina Maggie Ruby', 'Ann Elizabeth', 'Mathilde', 'Ethel Clarke', 'Florence Mary Agnes Hughes', 'Amy Frances Christy', 'Lillian Jefferys', 'Selini Alexander', 'Marion Elsie', 'Simonne Marie Anne Andree', 'Emily Hocking', 'Clear Annie', 'Harriet', 'Alice Phoebe', 'Edith Martha Bowerman', 'Helene Barbara', 'Ida Sofia', 'Elizabeth Mussey', 'Telma Matilda', 'Mary', 'Henriette Mrs Harbeck', 'Stina Viola', 'Catharina', 'Marguerite Rut', 'Jessie', 'Ida Sophia Fischer', 'Marian Longstreth Morris', 'Mabel', 'Maria Emilia Ojala', 'Susan Parker Suzette', 'Mary Conover', 'Erna Alexandra', 'Amelie', 'Agda Thorilda Viktoria', 'Josefine Franchi', 'Elna Matilda Persson', 'Helen Walton', 'Madeleine Violet', 'Bessie Waldo Daniels', 'Brigdet Delia', 'Annie Clemmer', 'Nora', 'Lillian Gertrud', 'Lutie Davis', 'Anna Katherine Annie Kate', 'Roberta', 'Jessie Wills', 'Augusta', 'Alma Cornelia Berglund', 'Ada Julia Bone', 'Mantoura Boulos', 'Aloisia', 'Mary Aline Towner', 'Adele Kiamie Jane', 'Anna', 'Stella Anna', 'Sigrid Elisabeth', 'Elsie', 'Cordelia Stanlick', 'Irene Wallach', 'Edwiga Grabowska', 'Sara Rebecca', 'Dorothy Ann Wonnacott', 'Delia', 'Marion Louise', 'Catherine Rizk', 'Jane Laver', 'Lily Alexenia Wilson', 'Vera Gillespie', 'Susan', 'Elizabeth Bessie Inglis Milne', 'Helmina Josefina', 'Marjorie', 'Elizabeth Anne Maidment', 'Bertha Griggs'}

Женские отдельные имена:

8) Приведите список имен, которые одновременно встречаются у мужчин, и у женщин. Решите задачу, если рассматривать составные имена как одно имя, и если рассматривать составные имена отдельно. Выведите таблицу пассажирами, имеющими эти имена.

In [53]:
# Разделение составных имен на отдельные
df_titanic["SingleNames"] = df_titanic["FirstNameList"].apply(lambda x: x.split() if pd.notnull(x) and len(x.split()) > 1 else [x])

# Создание множеств имен для мужчин и женщин
male_names = set(df_titanic[df_titanic['Sex'] == 'male']['FirstNameList'].dropna())
female_names = set(df_titanic[df_titanic['Sex'] == 'female']['FirstNameList'].dropna())

# Имена, встречающиеся у мужчин и женщин (составные как одно имя)
common_compound_names = male_names.intersection(female_names)

# Имена, встречающиеся у мужчин и женщин (составные как отдельные имена)
male_single_names = set()
female_single_names = set()

for index, row in df_titanic.iterrows():
    if pd.notnull(row['FirstNameList']):
        for name in row['SingleNames']:
            if row['Sex'] == 'male':
                male_single_names.add(name)
            elif row['Sex'] == 'female':
                female_single_names.add(name)

common_single_names = male_single_names.intersection(female_single_names)

# Фильтрация пассажиров с общими именами
common_compound_passengers = df_titanic[df_titanic['FirstNameList'].isin(common_compound_names)]
common_single_passengers = df_titanic[df_titanic['SingleNames'].apply(lambda x: any(name in common_single_names for name in x))]

# Вывод таблиц
print("Пассажиры с общими именами (составные как одно имя):")
print(common_compound_passengers[['Name', 'Sex', 'FirstNameList']])

print("\nПассажиры с общими именами (составные как отдельные имена):")
print(common_single_passengers[['Name', 'Sex', 'FirstNameList']])

Пассажиры с общими именами (составные как одно имя):
Empty DataFrame
Columns: [Name, Sex, FirstNameList]
Index: []

Пассажиры с общими именами (составные как отдельные имена):
                                                  Name     Sex  \
27                      Fortune, Mr. Charles Alexander    male
35                      Holverson, Mr. Alexander Oskar    male
48                                 Samaan, Mr. Youssef    male
112                             Barton, Mr. David John    male
125                       Nicola-Yarred, Master. Elias    male
186    O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)  female
227                    Lovell, Mr. John Hall ("Henry")    male
255            Touma, Mrs. Darwis (Hanne Youssef Razi)  female
259                        Parrish, Mrs. (Lutie Davis)  female
265                                  Reeves, Mr. David    male
270                              Cairns, Mr. Alexander    male
327                            Ball, Mrs. (Ada E Hall)  female
329                       Hippach, Miss. Jean Gertrude  female
362                    Barbara, Mrs. (Catherine David)  female
394  Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...  female
397                            McKane, Mr. Peter David    male
416    Drew, Mrs. James Vivian (Lulu Thorne Christian)  female
421                                Charters, Mr. David    male
427  Phillips, Miss. Kate Florence ("Mrs Kate Louis...  female
449                     Peuchen, Major. Arthur Godfrey    male
456                          Millet, Mr. Francis Davis    male
463                       Milling, Mr. Jacob Christian    male
549                     Davies, Master. John Morgan Jr    male
556  Duff Gordon, Lady. (Lucille Christiana Sutherl...  female
578                   Caram, Mrs. Joseph (Maria Elias)  female
595                        Van Impe, Mr. Jean Baptiste    male
599       Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")    male
605                      Lindell, Mr. Edvard Bengtsson    male
624                        Bowen, Mr. David John "Dai"    male
630               Barkworth, Mr. Algernon Henry Wilson    male
656                              Radeff, Mr. Alexander    male
705     Morley, Mr. Henry Samuel ("Mr Henry Marshall")    male
785                 Harmer, Mr. Abraham (David Lishin)    male
803                    Thomas, Master. Assad Alexander    male
818                   Holm, Mr. John Fredrik Alexander    male
830            Yasbeck, Mrs. Antoni (Selini Alexander)  female
850            Andersson, Master. Sigvard Harald Elias    male
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female
880       Shelley, Mrs. William (Imanita Parrish Hall)  female

                                       FirstNameList
27                                 Charles Alexander
35                                   Alexander Oskar
48                                           Youssef
112                                       David John
125                                            Elias
186                           Johanna Hannah Godfrey
227                                  John Hall Henry
255                               Hanne Youssef Razi
259                                      Lutie Davis
265                                            David
270                                        Alexander
327                                         Ada Hall
329                                    Jean Gertrude
362                                  Catherine David
394                        Agnes Charlotta Bengtsson
397                                      Peter David
416                            Lulu Thorne Christian
421                                            David
427  Kate Florence Mrs Kate Louise Phillips Marshall
449                                   Arthur Godfrey
456                                    Francis Davis
463                                  Jacob Christian
549                                      John Morgan
556         Lucille Christiana Sutherland Mrs Morgan
578                                      Maria Elias
595                                    Jean Baptiste
599                              Cosmo Edmund Morgan
605                                 Edvard Bengtsson
624                                   David John Dai
630                            Algernon Henry Wilson
656                                        Alexander
705                      Henry Samuel Henry Marshall
785                             Abraham David Lishin
803                                  Assad Alexander
818                           John Fredrik Alexander
830                                 Selini Alexander
850                             Sigvard Harald Elias
879                             Lily Alexenia Wilson
880                             Imanita Parrish Hall